<div>
    <div class="head_name_container">
        <p>Welcome</p>
    </div>


    <main>
        <div class="about-us">
            <h3>Вітаю! Ми інтернет-аукціон "Sold".</h3>
            <br>
            <h2>Хто ми?</h2>
            <br>
            <p> Ми інтернет-аукціон - це електронна торговельна платформа в Інтернеті, де користувачі можуть купувати і продавати товари або послуги через віртуальні торги. Цей спосіб торгівлі надає можливість широкому колу людей брати участь у купівлі та продажу, незалежно від їх місця проживання.</p>

            <ul>
                <li>Основні риси інтернет-аукціонів:</li>
                <li>-Віртуальні торги: Торги проводяться онлайн, що дозволяє користувачам з усього світу брати в них участь.</li>
                <li>-Різноманітні товари і послуги: Інтернет-аукціони можуть включати в себе різноманітні товари, від антикваріату та мистецтва до електроніки, автомобілів чи послуг.</li>
                <li>-Лоти та торги: Товари або послуги розміщуються на аукціоні у вигляді лотів, а покупці виставляють ставки, конкуруючи за право купити товар.
                </li>
                <li>-Часові обмеження: Час виставлення лотів та терміни торгів можуть бути обмеженими. Це надає елемент конкуренції та стимулює швидше прийняття рішень.</li>
                <li>-Ефективність і швидкість: Участь в інтернет-аукціонах дозволяє як продавцям, так і покупцям ефективно та швидко проводити торгівлю без фізичного присутності.</li>
                <li>-Зручність: Користувачі можуть отримати доступ до аукціонів з будь-якого пристрою з підключенням до Інтернету, забезпечуючи зручність і доступність.</li>

            </ul>

            <p>
                Інтернет-аукціони використовуються як для продажу нових товарів, так і для перепродажу вживаних або унікальних предметів.</p>
        </div>

        <div class="how-it-works">
            <h2>Як це працює?</h2>
            <p>Для участі в аукціонах, зареєструйте обліковий запис на нашому сайті. Потім ви можете робити ставки та брати участь в торгах. Аукціони можуть мати різні тривалості та правила, які вказані в описі кожного лота.</p>
        </div>

        <div class="contact">
            <h2>Зв'яжіться з нами</h2>
            <p>Якщо у вас є питання або проблеми, не соромтеся звертатися до нас. Ми готові вам допомогти!</p>
            <p>Email: saleHotLine@auction.com Телефон: +504379269</p>
            <p>text</p>

        </div>
    </main>

    <footer>
        <p>2023 Інтернет-аукціон. Усі права захищено.</p>
    </footer>

</div>