.container {
    display: flex;
    background-color: #bb4040;
    max-width: 100%;
    max-height: 100%;
    width: 500px;
    height: 450px;
    justify-content: center;
}

.large-button {
    font-size: 80px; /* Adjust the font size as needed */
    padding: 10px 20px; /* Adjust padding to increase button size */
}

/* Style for the input */
.large-input {
    font-size: 50px; /* Adjust the font size as needed */
    padding: 8px; /* Adjust padding to increase input size */
}

.lotinfo {
    max-width: 200px;
    max-height: 250px;

    width: 200px;
    height: 250px;
    align-items: center;
}

.bet {
    border-radius: 16px;
}

.biddescription {}

.body {
    font-family: "Courier New", Courier, monospace;
}